Repository danieleschmidt/zkp-dataset-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @terragon/core-team, @terragon/crypto-team, @terragon/security-team, @terragon/backend-team, @terragon/frontend-team, @terragon/qa-team, @terragon/performance-team, @terragon/docs-team, @terragon/devops-team, @terragon/sre-team, @terragon/legal-team

CODEOWNERS:

# Code owners for ZKP Dataset Ledger
# This file defines who owns different parts of the codebase

# Global fallback
* @terragon/core-team

# Core cryptographic code
/src/crypto/ @terragon/crypto-team @terragon/security-team
/src/circuits.rs @terragon/crypto-team
/src/proof.rs @terragon/crypto-team

# Storage and ledger implementation
/src/ledger.rs @terragon/backend-team
/src/storage.rs @terragon/backend-team
/src/dataset.rs @terragon/backend-team

# CLI and API interfaces
/src/bin/ @terragon/frontend-team
/examples/ @terragon/frontend-team

# Testing infrastructure
/tests/ @terragon/qa-team
/benches/ @terragon/performance-team

# Documentation
*.md @terragon/docs-team
/docs/ @terragon/docs-team

# Configuration files
Cargo.toml @terragon/core-team
Cargo.lock @terragon/core-team
*.toml @terragon/devops-team

# Build and deployment
Dockerfile* @terragon/devops-team
docker-compose*.yml @terragon/devops-team
/docker/ @terragon/devops-team
Makefile @terragon/devops-team
build.sh @terragon/devops-team

# CI/CD workflows
/.github/ @terragon/devops-team
/scripts/ @terragon/devops-team

# Security-sensitive files
/deny.toml @terragon/security-team
/audit.toml @terragon/security-team
SECURITY.md @terragon/security-team

# Monitoring and observability
/observability.toml @terragon/sre-team
/telemetry.toml @terragon/sre-team
/docker-compose.monitoring.yml @terragon/sre-team

# Legal and compliance
LICENSE @terragon/legal-team
CODE_OF_CONDUCT.md @terragon/legal-team

feat(ci): add comprehensive CI/CD, release, and security workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  SDLC_ANALYSIS.md
  examples/github-actions/ml-pipeline.yml
  examples/kubernetes/zkp-ledger-deployment.yaml
  examples/mlflow/requirements.txt
  examples/terraform/main.tf
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/frontend-team

feat(ci-cd): add comprehensive production-ready CI/CD and security workflows
  .github-workflows-to-create/ci.yml
  .github-workflows-to-create/release.yml
  SDLC_IMPLEMENTATION_SUMMARY.md
  WORKFLOW_SETUP_INSTRUCTIONS.md
  workflows-to-setup/ci.yml
  workflows-to-setup/release.yml
  workflows-to-setup/security.yml
Owners: @terragon/core-team, @terragon/docs-team

Complete SDLC Improvements: Production-Ready CI/CD, Security, Release, and Examples (#19)
  .github-workflows-to-create/ci.yml
  .github-workflows-to-create/release.yml
  SDLC_ANALYSIS.md
  SDLC_IMPLEMENTATION_SUMMARY.md
  WORKFLOW_SETUP_INSTRUCTIONS.md
  examples/github-actions/ml-pipeline.yml
  examples/kubernetes/zkp-ledger-deployment.yaml
  examples/mlflow/requirements.txt
  examples/terraform/main.tf
  workflows-to-setup/ci.yml
  workflows-to-setup/release.yml
  workflows-to-setup/security.yml
Owners: @terragon/core-team, @terragon/docs-team, @terragon/frontend-team

feat(ledger): add comprehensive ledger with dataset notarization and proof tracking
  Cargo.toml
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/proof.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/crypto-team, @terragon/security-team, @terragon/backend-team, @terragon/core-team

feat(ledger): add comprehensive ledger with dataset notarization and proof tracking (#20)
  Cargo.toml
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/proof.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/crypto-team, @terragon/security-team, @terragon/backend-team, @terragon/core-team

Update README.md
  README.md
Owners: @terragon/docs-team

Update README.md
  README.md
Owners: @terragon/docs-team

feat(cli): add comprehensive CLI commands for ledger operations
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  Makefile
  PRODUCTION_CHECKLIST.md
  src/bin/cli.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/recovery.rs
  src/security.rs
  tests/integration/cli_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/frontend-team, @terragon/core-team, @terragon/qa-team

feat(cli): add comprehensive CLI commands for ledger operations (#22)
  Cargo.toml
  DEPLOYMENT_GUIDE.md
  Makefile
  PRODUCTION_CHECKLIST.md
  src/bin/cli.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/recovery.rs
  src/security.rs
  tests/integration/cli_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/frontend-team, @terragon/core-team, @terragon/qa-team

feat(config,cli,proof,storage): add comprehensive config management, CLI config commands, Groth16 proofs, RocksDB storage, and tests
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/proof.rs
  src/recovery.rs
  src/security.rs
  src/storage.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/mod.rs
  tests/unit/dataset_tests.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/core-team, @terragon/security-team, @terragon/backend-team, @terragon/qa-team

feat(config,cli,proof,storage): add comprehensive config management, CLI config commands, Groth16 proofs, RocksDB storage, and tests (#24)
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/dataset.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring.rs
  src/performance.rs
  src/proof.rs
  src/recovery.rs
  src/security.rs
  src/storage.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/mod.rs
  tests/unit/dataset_tests.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/core-team, @terragon/security-team, @terragon/backend-team, @terragon/qa-team

feat(zkp): implement advanced zero-knowledge proof features and optimizations
  ADVANCED_FEATURES_IMPLEMENTATION.md
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/merkle.rs
  src/error.rs
  src/lib.rs
  src/performance.rs
  src/proof.rs
  src/security.rs
  src/storage.rs
  tests/fixtures/mod.rs
  tests/integration/cli_integration_tests.rs
  tests/integration/cli_tests.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/end_to_end_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
  tests/integration/performance_tests.rs
  tests/integration/storage_integration_tests.rs
  tests/integration_tests.rs
  tests/performance/benchmark_tests.rs
  tests/performance/mod.rs
  tests/unit/advanced_circuits_tests.rs
  tests/unit/crypto_tests.rs
  tests/unit/dataset_tests.rs
  tests/unit/ledger_tests.rs
  tests/unit/mod.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/core-team, @terragon/security-team, @terragon/backend-team, @terragon/qa-team

feat(zkp): implement advanced zero-knowledge proof features and optimizations (#25)
  ADVANCED_FEATURES_IMPLEMENTATION.md
  Cargo.toml
  src/bin/cli.rs
  src/circuits.rs
  src/config.rs
  src/crypto/merkle.rs
  src/error.rs
  src/lib.rs
  src/performance.rs
  src/proof.rs
  src/security.rs
  src/storage.rs
  tests/fixtures/mod.rs
  tests/integration/cli_integration_tests.rs
  tests/integration/cli_tests.rs
  tests/integration/complete_workflow_test.rs
  tests/integration/end_to_end_tests.rs
  tests/integration/end_to_end_workflow.rs
  tests/integration/mod.rs
  tests/integration/performance_tests.rs
  tests/integration/storage_integration_tests.rs
  tests/integration_tests.rs
  tests/performance/benchmark_tests.rs
  tests/performance/mod.rs
  tests/unit/advanced_circuits_tests.rs
  tests/unit/crypto_tests.rs
  tests/unit/dataset_tests.rs
  tests/unit/ledger_tests.rs
  tests/unit/mod.rs
  tests/unit/proof_tests.rs
  tests/unit/storage_tests.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/core-team, @terragon/security-team, @terragon/backend-team, @terragon/qa-team

feat(distributed): add distributed processing and horizontal scaling
  ARCHITECTURE.md
  DEPLOYMENT.md
  Dockerfile.production
  config/production.toml
  deploy.sh
  docker-compose.production.yml
  k8s/deployment.yaml
  k8s/namespace.yaml
  src/distributed.rs
  src/error.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/recovery_enhanced.rs
  src/security.rs
  src/security_enhanced.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/core-team

Autonomous SDLC v4.0: Enterprise-Grade Distributed ZKP Ledger with Advanced Features (#26)
  ARCHITECTURE.md
  DEPLOYMENT.md
  Dockerfile.production
  config/production.toml
  deploy.sh
  docker-compose.production.yml
  k8s/deployment.yaml
  k8s/namespace.yaml
  src/distributed.rs
  src/error.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/recovery_enhanced.rs
  src/security.rs
  src/security_enhanced.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/core-team

feat(core): implement comprehensive error handling system
  src/error.rs
Owners: @terragon/core-team

feat(core): simplify ZK circuits and fix core modules
  src/circuits.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
Owners: @terragon/crypto-team, @terragon/security-team

🎉 feat: GENERATION 1 COMPLETE - Working ZKP Dataset Ledger CLI
  Cargo.toml
  Cargo_complex.toml
  src/bin/cli.rs
  src/bin/cli_simple.rs
  src/circuits_complex.rs
  src/crypto/merkle.rs
  src/error.rs
  src/error_complex.rs
  src/lib.rs
  src/lib_complex.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/core-team, @terragon/crypto-team, @terragon/security-team

feat(robust): implement persistent storage and enhanced CLI commands
  default_ledger/ledger.json
  src/bin/cli_simple.rs
  src/lib.rs
Owners: @terragon/core-team, @terragon/frontend-team

feat(robust): implement comprehensive logging and monitoring
  Cargo.toml
  default_ledger/ledger.json
  src/bin/cli_simple.rs
  src/lib.rs
Owners: @terragon/devops-team, @terragon/core-team, @terragon/frontend-team

Refactor to Simplified ZKP Dataset Ledger with Enhanced Logging and Modular Circuits (#31)
  Cargo.toml
  Cargo_complex.toml
  default_ledger/ledger.json
  src/bin/cli.rs
  src/bin/cli_simple.rs
  src/circuits.rs
  src/circuits_complex.rs
  src/crypto/hash.rs
  src/crypto/merkle.rs
  src/error.rs
  src/error_complex.rs
  src/lib.rs
  src/lib_complex.rs
Owners: @terragon/devops-team, @terragon/core-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/security-team

feat(distributed): add distributed processing and load balancing for ZKP proof generation
  Cargo.toml
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/crypto/mod.rs
  src/distributed.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/proof.rs
  src/research/advanced_circuits.rs
  src/research/benchmarks.rs
  src/research/differential_privacy.rs
  src/research/federated_proofs.rs
  src/research/mod.rs
  src/research/optimization.rs
  src/research/streaming_zkp.rs
  src/security.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/security-team, @terragon/core-team, @terragon/backend-team

feat(distributed): add distributed processing and load balancing for ZKP proof generation (#32)
  Cargo.toml
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/crypto/mod.rs
  src/distributed.rs
  src/error.rs
  src/ledger.rs
  src/lib.rs
  src/monitoring_enhanced.rs
  src/performance_enhanced.rs
  src/proof.rs
  src/research/advanced_circuits.rs
  src/research/benchmarks.rs
  src/research/differential_privacy.rs
  src/research/federated_proofs.rs
  src/research/mod.rs
  src/research/optimization.rs
  src/research/streaming_zkp.rs
  src/security.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/security-team, @terragon/core-team, @terragon/backend-team

feat(deployment): add comprehensive production deployment setup with Docker and Kubernetes
  Cargo.toml
  DEPLOYMENT.md
  default_ledger/ledger.json.backup
  default_ledger/ledger.json.backup.20250814_141620
  default_ledger/ledger.json.backup.20250814_141901
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/k8s/deployment.yaml
  deploy/monitoring/prometheus.yml
  scripts/deploy.sh
  src/bin/cli_simple.rs
  src/error.rs
  src/lib.rs
  src/lib_simple.rs
  src/proof_simple.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/core-team, @terragon/frontend-team, @terragon/backend-team

feat(deployment): add comprehensive production deployment setup with Docker and Kubernetes (#34)
  Cargo.toml
  DEPLOYMENT.md
  default_ledger/ledger.json.backup
  default_ledger/ledger.json.backup.20250814_141620
  default_ledger/ledger.json.backup.20250814_141901
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/k8s/deployment.yaml
  deploy/monitoring/prometheus.yml
  scripts/deploy.sh
  src/bin/cli_simple.rs
  src/error.rs
  src/lib.rs
  src/lib_simple.rs
  src/proof_simple.rs
  src/storage.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/core-team, @terragon/frontend-team, @terragon/backend-team

feat(ledger): add advanced monitoring, retry strategies, and health checks
  clippy.toml
  src/bin/cli_simple.rs
  src/lib.rs
  tests/fixtures/mod.rs
  tests/integration_tests.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/core-team, @terragon/qa-team

feat(ledger): add advanced monitoring, retry strategies, and health checks (#35)
  clippy.toml
  src/bin/cli_simple.rs
  src/lib.rs
  tests/fixtures/mod.rs
  tests/integration_tests.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/core-team, @terragon/qa-team

feat(autonomous-sdlc): complete advanced ZKP dataset ledger implementation
  Cargo.toml
  benches/proof_generation.rs
  benches/verification.rs
  src/circuits.rs
  src/circuits/mod.rs
  src/circuits/zkp_core.rs
  src/enhanced_security.rs
  src/high_performance.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/mpc/mod.rs
  src/streaming/mod.rs
  src/streaming/zkp_streaming.rs
  tests/fixtures/mod.rs
  tests/integration_tests.rs
Owners: @terragon/devops-team, @terragon/performance-team, @terragon/crypto-team, @terragon/core-team, @terragon/qa-team

feat(autonomous-sdlc): complete advanced ZKP dataset ledger implementation (#36)
  Cargo.toml
  benches/proof_generation.rs
  benches/verification.rs
  src/circuits.rs
  src/circuits/mod.rs
  src/circuits/zkp_core.rs
  src/enhanced_security.rs
  src/high_performance.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/mpc/mod.rs
  src/streaming/mod.rs
  src/streaming/zkp_streaming.rs
  tests/fixtures/mod.rs
  tests/integration_tests.rs
Owners: @terragon/devops-team, @terragon/performance-team, @terragon/crypto-team, @terragon/core-team, @terragon/qa-team

feat(auto-scaling): add auto-scaling system for dynamic resource allocation
  AUTONOMOUS_RESEARCH_BREAKTHROUGH.md
  Cargo.toml
  benches/proof_generation.rs
  benches/verification.rs
  src/auto_scaling.rs
  src/bin/cli_simple.rs
  src/circuits/mod.rs
  src/circuits/zkp_core.rs
  src/distributed_proof_generation.rs
  src/enhanced_security.rs
  src/high_performance.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/mpc/mod.rs
  src/research/advanced_circuits.rs
  src/research/benchmarks.rs
  src/research/mod.rs
  src/streaming/mod.rs
  src/streaming/zkp_streaming.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team

feat(auto-scaling): add auto-scaling system for dynamic resource allocation (#37)
  AUTONOMOUS_RESEARCH_BREAKTHROUGH.md
  Cargo.toml
  benches/proof_generation.rs
  benches/verification.rs
  src/auto_scaling.rs
  src/bin/cli_simple.rs
  src/circuits/mod.rs
  src/circuits/zkp_core.rs
  src/distributed_proof_generation.rs
  src/enhanced_security.rs
  src/high_performance.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/mpc/mod.rs
  src/research/advanced_circuits.rs
  src/research/benchmarks.rs
  src/research/mod.rs
  src/streaming/mod.rs
  src/streaming/zkp_streaming.rs
Owners: @terragon/docs-team, @terragon/devops-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team

feat(research): add breakthrough ZKP algorithms and advanced research CLI
  src/bin/cli_research.rs
  src/research/advanced_circuits.rs
  src/research/breakthrough_algorithms.rs
  src/research/mod.rs
  src/research/optimization.rs
Owners: @terragon/frontend-team, @terragon/core-team

refactor(auto_scaling): refactor and enhance auto-scaling logic and metrics handling
  Cargo.toml
  src/auto_scaling.rs
  src/bin/cli_simple.rs
  src/crypto/mod.rs
  src/distributed_proof_generation.rs
  src/enhanced_security.rs
  src/error.rs
  src/lib.rs
  src/proof.rs
  src/research/benchmarks.rs
  src/research/differential_privacy.rs
  src/research/streaming_zkp.rs
Owners: @terragon/devops-team, @terragon/core-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/security-team

feat(ledger): add new datasets and update ledger entries
  benches/proof_generation.rs
  benches/verification.rs
  default_ledger/ledger.json.backup.20250820_022100
  default_ledger/ledger.json.backup.20250820_023003
  sample_hr_data.csv
  test_data.csv
Owners: @terragon/performance-team, @terragon/core-team

feat(scaling_optimizations): add advanced scaling optimizations for massive dataset processing
  Cargo.toml
  PRODUCTION_DEPLOYMENT.md
  src/auto_scaling.rs
  src/bin/cli_research.rs
  src/distributed_proof_generation.rs
  src/lib.rs
  src/research/advanced_circuits.rs
  src/research/breakthrough_algorithms.rs
  src/research/mod_research.rs
  src/research/optimization.rs
  src/scaling_optimizations.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/core-team, @terragon/frontend-team

refactor(mpc): refactor federated proof generation for clarity and async removal
  DEPLOYMENT_SUMMARY.md
  benches/proof_generation.rs
  benches/verification.rs
  default_ledger/ledger.json
  default_ledger/ledger.json.backup.20250820_035904
  default_ledger/ledger.json.backup.20250820_040341
  default_ledger/ledger.json.backup.20250820_040702
  src/bin/cli_simple.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/research/streaming_zkp.rs
  src/streaming/zkp_streaming.rs
Owners: @terragon/docs-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team

refactor(mpc): refactor federated proof generation for clarity and async removal (#41)
  DEPLOYMENT_SUMMARY.md
  benches/proof_generation.rs
  benches/verification.rs
  default_ledger/ledger.json
  default_ledger/ledger.json.backup.20250820_035904
  default_ledger/ledger.json.backup.20250820_040341
  default_ledger/ledger.json.backup.20250820_040702
  src/bin/cli_simple.rs
  src/lib.rs
  src/mpc/federated_proofs.rs
  src/research/streaming_zkp.rs
  src/streaming/zkp_streaming.rs
Owners: @terragon/docs-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team

Refactor auto-scaling, distributed proof generation, streaming ZKP, and proof modules with enhanced ledger data and disabled research CLI (#40)
  Cargo.toml
  default_ledger/ledger.json
  default_ledger/ledger.json.backup
  default_ledger/ledger.json.backup.20250820_022100
  default_ledger/ledger.json.backup.20250820_023003
  sample_hr_data.csv
  src/auto_scaling.rs
  src/bin/cli_simple.rs
  src/crypto/mod.rs
  src/distributed_proof_generation.rs
  src/enhanced_security.rs
  src/error.rs
  src/lib.rs
  src/proof.rs
  src/research/benchmarks.rs
  src/research/differential_privacy.rs
  src/research/streaming_zkp.rs
  test_data.csv
Owners: @terragon/devops-team, @terragon/core-team, @terragon/frontend-team, @terragon/crypto-team, @terragon/security-team

Add advanced research CLI, production deployment guide, and breakthrough ZKP algorithms with scaling optimizations (#39)
  Cargo.toml
  PRODUCTION_DEPLOYMENT.md
  src/bin/cli_research.rs
  src/lib.rs
  src/research/advanced_circuits.rs
  src/research/breakthrough_algorithms.rs
  src/research/mod_research.rs
  src/research/optimization.rs
  src/scaling_optimizations.rs
Owners: @terragon/devops-team, @terragon/docs-team, @terragon/frontend-team, @terragon/core-team

feat(performance): add large CSV test data and optimize ledger for scale
  PRODUCTION_SUMMARY.md
  bad.csv
  create_large_csv.py
  default_ledger/ledger.json.backup.20250821_221620
  default_ledger/ledger.json.backup.20250821_221858
  default_ledger/ledger.json.backup.20250821_221906
  default_ledger/ledger.json.backup.20250821_222109
  default_ledger/ledger.json.backup.20250821_222119
  default_ledger/ledger.json.backup.20250821_222152
  invalid.csv
  large_test.csv
  src/bin/cli_simple.rs
  src/lib.rs
  src/lib_simple.rs
  src/recovery_enhanced.rs
  src/research/streaming_zkp.rs
  test_sample.csv
Owners: @terragon/docs-team, @terragon/core-team, @terragon/frontend-team
