Repository danieleschmidt/zkp-dataset-ledger, changes with the owners that CODEOWNERS names for each.
All owners: @terragon/core-team, @terragon/crypto-team, @terragon/security-team, @terragon/backend-team, @terragon/frontend-team, @terragon/qa-team, @terragon/performance-team, @terragon/docs-team, @terragon/devops-team, @terragon/sre-team, @terragon/legal-team

CODEOWNERS:

# Code owners for ZKP Dataset Ledger
# This file defines who owns different parts of the codebase

# Global fallback
* @terragon/core-team

# Core cryptographic code
/src/crypto/ @terragon/crypto-team @terragon/security-team
/src/circuits.rs @terragon/crypto-team
/src/proof.rs @terragon/crypto-team

# Storage and ledger implementation
/src/ledger.rs @terragon/backend-team
/src/storage.rs @terragon/backend-team
/src/dataset.rs @terragon/backend-team

# CLI and API interfaces
/src/bin/ @terragon/frontend-team
/examples/ @terragon/frontend-team

# Testing infrastructure
/tests/ @terragon/qa-team
/benches/ @terragon/performance-team

# Documentation
*.md @terragon/docs-team
/docs/ @terragon/docs-team

# Configuration files
Cargo.toml @terragon/core-team
Cargo.lock @terragon/core-team
*.toml @terragon/devops-team

# Build and deployment
Dockerfile* @terragon/devops-team
docker-compose*.yml @terragon/devops-team
/docker/ @terragon/devops-team
Makefile @terragon/devops-team
build.sh @terragon/devops-team

# CI/CD workflows
/.github/ @terragon/devops-team
/scripts/ @terragon/devops-team

# Security-sensitive files
/deny.toml @terragon/security-team
/audit.toml @terragon/security-team
SECURITY.md @terragon/security-team

# Monitoring and observability
/observability.toml @terragon/sre-team
/telemetry.toml @terragon/sre-team
/docker-compose.monitoring.yml @terragon/sre-team

# Legal and compliance
LICENSE @terragon/legal-team
CODE_OF_CONDUCT.md @terragon/legal-team

feat(performance): add large CSV test data and optimize ledger for scale (#42)
  PRODUCTION_SUMMARY.md
  bad.csv
  create_large_csv.py
  default_ledger/ledger.json.backup.20250821_221620
  default_ledger/ledger.json.backup.20250821_221858
  default_ledger/ledger.json.backup.20250821_221906
  default_ledger/ledger.json.backup.20250821_222109
  default_ledger/ledger.json.backup.20250821_222119
  default_ledger/ledger.json.backup.20250821_222152
  invalid.csv
  large_test.csv
  src/bin/cli_simple.rs
  src/lib.rs
  src/lib_simple.rs
  src/recovery_enhanced.rs
  src/research/streaming_zkp.rs
  test_sample.csv
Owners: @terragon/docs-team, @terragon/core-team, @terragon/frontend-team

feat(ledger): add advanced ledger with zero-knowledge proofs and distributed consensus
  Cargo.toml
  examples/basic/main.rs
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/advanced_ledger.rs
  src/distributed_consensus.rs
  src/distributed_consensus_backup.rs
  src/lib.rs
  src/lib_simple.rs
  src/performance_optimized.rs
  src/security_enhanced.rs
  src/zkp_circuits.rs
  src/zkp_circuits_complex.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/core-team

feat(ledger): add advanced ledger with zero-knowledge proofs and distributed consensus (#43)
  Cargo.toml
  examples/basic/main.rs
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/advanced_ledger.rs
  src/distributed_consensus.rs
  src/distributed_consensus_backup.rs
  src/lib.rs
  src/lib_simple.rs
  src/performance_optimized.rs
  src/security_enhanced.rs
  src/zkp_circuits.rs
  src/zkp_circuits_complex.rs
Owners: @terragon/devops-team, @terragon/frontend-team, @terragon/core-team

feat(advanced_ledger): add advanced ledger with zero-knowledge proofs and Merkle trees
  Cargo.toml
  benches/proof_generation.rs
  default_ledger/ledger.json.backup.20250824_142548
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/advanced_ledger.rs
  src/bin/cli_research.rs.disabled
  src/bin/cli_simple.rs
  src/cache_system.rs
  src/concurrent_engine.rs
  src/config_manager.rs
  src/distributed_consensus.rs
  src/error_handling.rs
  src/lib.rs
  src/lib_simple.rs
  src/monitoring_system.rs
  src/research/advanced_circuits.rs
  src/research/federated_proofs.rs
  src/research/mod.rs
  src/research/optimization.rs
  src/research/streaming_zkp.rs
  src/security_enhanced.rs
  src/zkp_circuits.rs
  test_data.csv
  tests/fixtures/mod.rs
  tests/integration_tests.rs
  zkp-ledger.toml
Owners: @terragon/devops-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team, @terragon/qa-team

feat(advanced_ledger): add advanced ledger with zero-knowledge proofs and Merkle trees (#44)
  Cargo.toml
  benches/proof_generation.rs
  default_ledger/ledger.json.backup.20250824_142548
  examples/comprehensive_demo.rs
  examples/simple_notarize.rs
  src/advanced_ledger.rs
  src/bin/cli_research.rs.disabled
  src/bin/cli_simple.rs
  src/cache_system.rs
  src/concurrent_engine.rs
  src/config_manager.rs
  src/distributed_consensus.rs
  src/error_handling.rs
  src/lib.rs
  src/lib_simple.rs
  src/monitoring_system.rs
  src/research/advanced_circuits.rs
  src/research/federated_proofs.rs
  src/research/mod.rs
  src/research/optimization.rs
  src/research/streaming_zkp.rs
  src/security_enhanced.rs
  src/zkp_circuits.rs
  test_data.csv
  tests/fixtures/mod.rs
  tests/integration_tests.rs
  zkp-ledger.toml
Owners: @terragon/devops-team, @terragon/performance-team, @terragon/core-team, @terragon/frontend-team, @terragon/qa-team

feat(cli): add autonomous SDLC completion and performance features
  AUTONOMOUS_SDLC_COMPLETION.md
  src/advanced_ledger.rs
  src/bin/cli_simple.rs
  src/concurrent_engine.rs
Owners: @terragon/docs-team, @terragon/core-team, @terragon/frontend-team

feat(cli): add autonomous SDLC completion and performance features (#45)
  AUTONOMOUS_SDLC_COMPLETION.md
  src/advanced_ledger.rs
  src/bin/cli_simple.rs
  src/concurrent_engine.rs
Owners: @terragon/docs-team, @terragon/core-team, @terragon/frontend-team

feat(deployment): add production deployment automation and orchestration
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  src/deployment_manager.rs
  src/lib.rs
  src/monitoring_system.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
Owners: @terragon/docs-team, @terragon/core-team

feat(deployment): add production deployment automation and orchestration (#48)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  src/deployment_manager.rs
  src/lib.rs
  src/monitoring_system.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
Owners: @terragon/docs-team, @terragon/core-team

feat(core): add Generation 2 and 3 modules for robustness and scalability
  README.md
  src/adaptive_optimization.rs
  src/comprehensive_logging.rs
  src/deployment_manager.rs
  src/enhanced_validation.rs
  src/intelligent_caching.rs
  src/lib.rs
  src/lib_simple.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
  src/robust_error_recovery.rs
Owners: @terragon/docs-team, @terragon/core-team

feat(autonomous_orchestration): add autonomous orchestration system with AI-driven deployment
  benchmark_10_ledger.json
  benchmark_1_ledger.json
  benchmark_2_ledger.json
  benchmark_3_ledger.json
  benchmark_4_ledger.json
  benchmark_5_ledger.json
  benchmark_6_ledger.json
  benchmark_7_ledger.json
  benchmark_8_ledger.json
  benchmark_9_ledger.json
  default_ledger/ledger.json
  default_ledger/ledger.json.backup.20250827_154954
  production-deployment.md
  sample_test.csv
  src/autonomous_orchestration.rs
  src/cache_system.rs
  src/concurrent_engine.rs
  src/config_manager.rs
  src/deployment_manager.rs
  src/lib.rs
  src/monitoring_system.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
  src/quantum_performance.rs
  tests/integration_tests.rs
  tests/performance/autonomous_orchestration_tests.rs
Owners: @terragon/core-team, @terragon/docs-team, @terragon/qa-team

feat(core): add Generation 2 and 3 modules for robustness and scalability (#49)
  README.md
  src/adaptive_optimization.rs
  src/comprehensive_logging.rs
  src/deployment_manager.rs
  src/enhanced_validation.rs
  src/intelligent_caching.rs
  src/lib.rs
  src/lib_simple.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
  src/robust_error_recovery.rs
Owners: @terragon/docs-team, @terragon/core-team

Add autonomous orchestration and quantum performance engine with production deployment (#50)
  benchmark_10_ledger.json
  benchmark_1_ledger.json
  benchmark_2_ledger.json
  benchmark_3_ledger.json
  benchmark_4_ledger.json
  benchmark_5_ledger.json
  benchmark_6_ledger.json
  benchmark_7_ledger.json
  benchmark_8_ledger.json
  benchmark_9_ledger.json
  default_ledger/ledger.json
  default_ledger/ledger.json.backup.20250827_154954
  production-deployment.md
  sample_test.csv
  src/autonomous_orchestration.rs
  src/cache_system.rs
  src/concurrent_engine.rs
  src/config_manager.rs
  src/deployment_manager.rs
  src/lib.rs
  src/monitoring_system.rs
  src/performance_profiler.rs
  src/production_orchestrator.rs
  src/quantum_performance.rs
  tests/integration_tests.rs
  tests/performance/autonomous_orchestration_tests.rs
Owners: @terragon/core-team, @terragon/docs-team, @terragon/qa-team
